#container {
    background-image:https://www.hulu.com/static/hitch/s3/2018-01/1600-lifestyle-background%402x.jpg;
}

#mainPicture {
    height: auto;
    width: auto;
    max-width:100%;
    max-height:50%;
}


