* {
    box-sizing:border-box;
    margin:0;
    padding:30;
}

.firstView {
    display:flex;
    justify-content:space-between;
    padding:60px 10%;
    background:url('https://www.hulu.com/static/hitch/s3/2018-01/1600-lifestyle-background%402x.jpg');
    max-width: 100vh;
    height:85vh;
    flex-wrap:wrap;
    flex:1;
}

.navBar {
    list-style:none;
    cursor:pointer;
}

.navBar li{
    display: inline-block;
    padding: 10px 35px;
    flex-basis:33.3333%;
}

.navBar li a {
    transition: all 0.3s ease 0s;
    font-size: 80%;
    font-weight:bold;
    text-decoration:none;
}

.navBar li a:hover {
    color:lightgray;
}

.banner {
    flex-wrap:wrap;
    flex-direction:column;
    align-items:center;
    align-content:center;
    justify-content:center;
    height:74vh;
    width:100%;
    padding:173px; 
    margin-left:100px;
}

.body {
    display:flex;
    
}

.firstView {
    display:flex;
    background:url('https://www.hulu.com/static/hitch/s3/2018-01/1600-lifestyle-background%402x.jpg');
    background-size:cover;
    max-width: 100%;
}

ul {
    list-style-type:none;
    padding:0;
}

#whitebox {
    border:1px solid white;
    background-color:white;
    padding:0px;
    margin:30px;
    width:40%;
    position:relative;
    left:15em;
    min-width: 136px;
    letter-spacing: 1px;
}

#whitebox a {
    text-decoration:none;
}

.circle {
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
    position: relative;
    width:60px;
    height:60px;   
} 

.circle {
    content:'';
    position:relative;  
}

.line {
    margin:0 auto;
    display:block;
    cursor:pointer;
    overflow:hidden;
    position:relative;
    color:white;
    text-align:center;
    font-size:175%;
    top:-50px;

}

#planOptions {
    padding:20px;
    font-size:140%;
    text-transform:uppercase;
}

h1,h4,h5,h3,h6 {
    display:flex;
    color:white;
    font-family: 'Roboto', sans-serif;
    align-items:center;
    justify-content:center;
}

h1 {
    font-size:300%;
    font-weight:100;
}

h4 {
    font-size:175%;
    font-weight:10;
}

h5 {
    font-size:115%
}

h3 {
    color:black;
    font-weight:bold;
}

.secondView {
    display:flex;
    justify-content:center;
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    flex-wrap:nowrap;
}

a href {
    text-decoration:none;
}


